.message{
    padding: 1em;
    color: white;
    background-color: black;
    margin-bottom: 1em;
}
.cont{
    padding: 0.5em;
    margin: 0.1em;
    font-style: normal;
    color: green;
}
.input > label{
    display: inline-block;
    width: 15em;
    padding: 0.5em;
    font-weight: bold;
}
.input > input[type="text"]{
    padding: 0.5em;
    margin: 0.5em;

}
.input{
    color: white;
}
.widget{
    flex: 1;
    border: 1px solid gray;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
}
h1{
    text-align: center;
    color: whitesmoke;
    border-radius: 0.1em;
}
body{
    background-image: url('vhoa0.jpg');
}
@media(min-width:1050px){
    .widgets{
        display: list-item;
    }
}